*.o
*.pyc
*~
.DS_Store
/.cache/
/.eggs/
/build/
/daedalus/_maze.cpp
/daedalus/_maze.so
/daedalus/main
/daedalus/pdconfig.h
/daedalus/src/test
/daedalus/src/test.bmp
/daedalus/src/test.txt
/daedalus/test.bmp
/daedalus/test.txt
/pydaedalus.egg-info/
/tools/deps.dot
/tools/deps.dot.pdf
