*.o
*.pyc
*~
.DS_Store
/.eggs/
/build/
/daedalus/_maze.cpp
/daedalus/_maze.so
/daedalus/main
/daedalus/pdconfig.h
/daedalus/src/deps.dot
/daedalus/src/deps.dot.pdf
/daedalus/src/test
/daedalus/src/test.bmp
/daedalus/src/test.txt
/daedalus/test.bmp
/daedalus/test.txt
