include LICENSE
include README.rst
include daedalus/VERSION
include daedalus/_maze.cpp
include daedalus/_maze.pyx
include daedalus/pdconfig.h
include daedalus/src/color.cpp
include daedalus/src/color.h
include daedalus/src/command.cpp
include daedalus/src/create.cpp
include daedalus/src/create2.cpp
include daedalus/src/create3.cpp
include daedalus/src/daedalus.cpp
include daedalus/src/daedalus.h
include daedalus/src/draw.cpp
include daedalus/src/draw.h
include daedalus/src/draw2.cpp
include daedalus/src/graphics.cpp
include daedalus/src/graphics.h
include daedalus/src/inside.cpp
include daedalus/src/labyrnth.cpp
include daedalus/src/maze.cpp
include daedalus/src/maze.h
include daedalus/src/resource.h
include daedalus/src/solids.cpp
include daedalus/src/solve.cpp
include daedalus/src/threed.cpp
include daedalus/src/threed.h
include daedalus/src/unused
include daedalus/src/util.cpp
include daedalus/src/util.h
include daedalus/wrapper.cpp
include daedalus/wrapper.h
